<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH4dSNu4-N4H1cLiRGcroRdcVvk_sEOYw</string>
	<key>GCM_SENDER_ID</key>
	<string>1083441986703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hasanat</string>
	<key>PROJECT_ID</key>
	<string>hasanat-f676a</string>
	<key>STORAGE_BUCKET</key>
	<string>hasanat-f676a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083441986703:ios:537c32c6d3d59f20c084fa</string>
</dict>
</plist>